<% if !logged_in? %>
   <%= link_to 'login', welcome_index_path %>
   <%= link_to 'signup', '/signup' %>
 <% else %>
   <h3> Hello, <%= current_user.name  %> </h3>
   <%=  link_to "log out", welcome_index_path, method: "post" %>
   <%= link_to 'my patient record', patient_path(current_patient.id) %>
 <% end %>

<div class="container">

  <%= form_tag sessions_path do %>
  <form class="form-signin">
    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" id="inputName" class="form-control" placeholder="Name" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
  <% end %>
</div>
